.damysite {
  position: relative;

  h2 {
    position: absolute;
    top:      50%;
    left:     30%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 5em;
    font-family: Quicksand, sans-serif;
  }

  img {
    width:100%;
  }

}

.takeout {
  position: relative;
  h2 {
    position: absolute;
    top:      5%;
    left:     10%;
    //transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 5em;
    font-family: Quicksand, sans-serif;
  }
  .text1{
    position: absolute;
    bottom:      30%;
    left:     50%;
    transform: translateX(-50%);
    width: 85%;
    background-color: rgba(255,255,255,0.5);
    h3 {
      font-size: 4em;
      font-weight: normal;
    }
    p {
      font-size: 3em;
    }
  }
  .text2{
    position: absolute;
    bottom:      5%;
    left:     50%;
    transform: translateX(-50%);
    width: 85%;
    background-color: rgba(255,255,255,0.5);
    h3 {
      font-size: 4em;
      font-weight: normal;

    }
    p {
      font-size: 3em;
    }
  }

  img {
    width:90%;
    padding: 5% 5%;
  }

}

.eatin {
  position: relative;
  h2 {
    position: absolute;
    top:      5%;
    left:     10%;
    //transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 2em;
    font-family: Quicksand, sans-serif;
  }
  .text1{
    position: absolute;
    bottom:      35%;
    left:     50%;
    transform: translateX(-50%);
    width: 85%;
    background-color: rgba(255,255,255,0.5);
    h3 {
      font-size: 4em;
      font-weight: normal;
    }
    p {
      font-size: 3em;
    }
  }

  .text2{
    position: absolute;
    bottom:      5%;
    left:     50%;
    transform: translateX(-50%);
    width: 85%;
    background-color: rgba(255,255,255,0.5);
    h3 {
      font-size: 4em;
      font-weight: normal;
    }
    p {
      font-size: 3em;
    }
  }
  img {
    width:90%;
    padding: 5% 5%;
  }

}

.map {
  position: relative;
  background-color: rgba(0,0,0,0.5);
  
  .text1 {
    position: absolute;
    top:      2%;
    left:     5%;   
    color: white;
    width: 85%;
    line-height: 5em;

    h2 {
      font-size: 5em;
    }
    p {
      font-size: 2em;
    }
  }
  

  img {
    width:100%;
    padding: 0% 0%;
  }

}